[Desktop Entry]
Name=DRadio
Name[bg]=DRadio
Name[ca]=DRadio
Name[cs]=DRadio
Name[el]=DRadio
Name[es]=DRadio
Name[fa]=DRadio
Name[fi]=DRadio
Name[fr]=DRadio
Name[hu]=DRadio
Name[it]=DRadio
Name[ja]=DRadio
Name[ko]=DRadio
Name[nb]=DRadio
Name[nl]=DRadio
Name[nn]=DRadio
Name[no]=DRadio
Name[pl]=DRadio
Name[pt]=DRadio
Name[pt_BR]=DRadio
Name[ru]=DRadio
Name[sk]=DRadio
Name[sv]=DRadio
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Deutschlandradio
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=DRadio Web Browser
X-GNOME-FullName[bg]=Интернет браузър (DRadio)
X-GNOME-FullName[ca]=Navegador web DRadio
X-GNOME-FullName[cs]=DRadio Webový prohlížeč
X-GNOME-FullName[el]=Περιηγήτης Ιστού DRadio
X-GNOME-FullName[es]=Navegador web DRadio
X-GNOME-FullName[fa]=مرورگر اینترنتی DRadio
X-GNOME-FullName[fi]=DRadio-selain
X-GNOME-FullName[fr]=Navigateur Web DRadio
X-GNOME-FullName[hu]=DRadio webböngésző
X-GNOME-FullName[it]=DRadio Browser Web
X-GNOME-FullName[ja]=DRadio ウェブ・ブラウザ
X-GNOME-FullName[ko]=DRadio 웹 브라우저
X-GNOME-FullName[nb]=DRadio Nettleser
X-GNOME-FullName[nl]=DRadio webbrowser
X-GNOME-FullName[nn]=DRadio Nettlesar
X-GNOME-FullName[no]=DRadio Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW DRadio
X-GNOME-FullName[pt]=DRadio Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web DRadio
X-GNOME-FullName[ru]=Интернет-браузер Д-ра́дио неме́цкий
X-GNOME-FullName[sk]=Internetový prehliadač DRadio
X-GNOME-FullName[sv]=Webbläsaren DRadio
Exec=/bin/bash /usr/local/bin/dradio.bash 
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/local/share/icons/dradio.ico
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-esr
StartupNotify=true
X-Desktop-File-Install-Version=0.23
